overlays = "1"
overlay0_overlay = Perfect_GBA-SP.png
overlay0_full_screen = "true"
overlay0_descs = "0"
overlay0_name = "overlay0"
overlay0_normalized = "true"

# MinUI extension - game viewport in 640x480 logical pixels.
minui_viewport_x = 0
minui_viewport_y = 0
minui_viewport_w = 640
minui_viewport_h = 427
